//box containing calculator form

.calculator-box {
    background-color: $mayden-teal-color;
    color: $inside-box-font-color;
    font-size: 18px;
    padding: 50px 10px;
    margin-top: 10px;
    p {
        font-size: inherit;
    }
}