//box containing calculator form
.calculator-box {
    background-color: #045866;
    color: #FFFFFF;
    font-size: 18px;
    padding: 50px 10px;
    margin-top: 10px;
    p {
        font-size: inherit;
    }
}